.footer-main {
    border: none;
    .footer-columns {
        border-top: 1px solid $sw-color-brand-primary;
        margin-left: 0px;
        margin-right: 0px;
    }
    .footer-column { 
        padding: 0;
    }
    .footer-contact-hotline a {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        &:hover {
            text-decoration: underline;
        }
    }
    .footer-link {
        position: relative;
        &:after {
            display: block;
            content:"";
            position: absolute;
            width: 0px;
            height: 1px;
            background-color: $sw-color-brand-primary;
            left: 0;
            transition: 500ms;
            bottom: 0;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}
.custom-payments {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    &.detail-payments  {
        padding-top: 20px;
        gap: 5px 15px;
        img {
            height: 35px;
        }
    }
    img {
        height: 31px;

    }
}
@media screen and (min-width: 1400px) {
    .footer-main {
        .footer-column {
            width: calc(100% / 6);
        }
    }
}
